div  {
     margin : 15px ;
     padding : 20px ;
}

.parent{
  border: 1px
  padding: 20px;
  text-align: center;
  width: 1000px;
}
.inner{
   display:inline-block;
   padding:10px;
   border: 1px
}
.tablecell{
  border: 1px solid
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 500px;
  height: 100;
  margin: 30px;
}

.txt {
    display: inline-block;
    text-align: left;
  }

.main {
    width: 130%;
    border: 1px
}
.main div   {
    width: 80%;
    border: 1px
    margin: 0 auto;
}

.sample-box-12 {
    border: 4px solid #82636b;
    border-radius: 140px 15px 185px 14px / 14px 210px 15px 185px;
    margin: 2em 0;
    padding: 2em;

    width:500px; height:600px;

}

h2{
    position: relative;
    font-size: 1.143em;
    font-weight: bold;
    margin: 0 0 1.5em;
    padding: 0.5em 0.5em 0.5em 2.0em;
    border-bottom: 2px solid #B92A2C;
}

h2:before{
    content: "□";
    font-size: 200%;
    position: absolute;
    color: #ff6b6e;
    top: -0.8em;
    left: 0.3em;
    height: 12px;
    width: 12px;
}

h2:after{
    content: "□";
    font-size: 200%;
    position: absolute;
    color: #B92A2C;
    top: -0.5em;
    left: 0;
    height: 12px;
    width: 12px;
}

input.example1 { width: 15%; }
input.example2 { width: 8%; }
