.main {
    width: 100%;
    border: 1px solid #000;
}

.box15 {
    width: 80px;
    padding: 1.2em 1.5em;
    margin: 10px 20px;
    color: #565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 10px #ffeaea;
    border: dashed 2px #ffc6e2;
    border-radius: 8px;

}
.box15 p {
    margin: 10;
    padding: 10;
}

    div  {
     margin : 15px ;
     padding : 20px ;
}


/*input[type="radio"] {
    width:15px;
    height:15px;
    color: #ccc;
    background-color: #f6f7f8;
}
input[type="checkbox"] {
    width:15px;
    height:15px;
}
select {
    height:25px;
}*/
.parent{
  border: 1px
  padding: 20px;
  text-align: center;
  width: 1000px;
}
.inner{
   display:inline-block;
   padding:10px;
   border: 1px
}
.tablecell{
  border: 1px solid
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 500px;
  height: 100;
  margin: 30px;
}

.txt {
    display: inline-block;
    text-align: left;
  }

.main {
    width: 130%;
    border: 1px
}
.main div   {
    width: 80%;
    border: 1px
    margin: 0 auto;
}
/*
.sample-box-12 {
    border: 4px solid #82636b;
    border-radius: 140px 15px 185px 14px / 14px 210px 15px 185px;
    margin: 2em 0;
    padding: 2em;
    width:500px; height:600px;*/
    ul, ol{
      padding: 0;
    }

    ul li {
      position: relative;
      list-style-type: none!important;/*ポチ消す*/
      padding: 0.5em 3.5em ;
      margin-bottom: 15px;
      line-height: 1.8;
      background: #ffc6e2;
      vertical-align: middle;
      color: #505050;
      border-radius: 15px 0px 0px 10px;/*左側の角丸く*/
    }

    ul li:before{ /*疑似要素*/
      display:inline-block;
      vertical-align: middle;
      /*以下白丸つくる*/
      content:'';
      width:1em;
      height: 1em;
      background: #fff;
      border-radius: 100%;
      margin-right: 5px;
    }
    input.textarea {
    width: 300px;
    height: 100px;
    text-align: center;
}

note { color: red; } /* ※のスタイル */

h2{
    position: relative;
    font-size: 1.143em;
    font-weight: bold;
    margin: 0 0 1.5em;
    padding: 0.5em 0.5em 0.5em 2.0em;
    border-bottom: 2px solid #B92A2C;
}

h2:before{
    content: "□";
    font-size: 200%;
    position: absolute;
    color: #ff6b6e;
    top: -0.8em;
    left: 0.3em;
    height: 12px;
    width: 12px;
}

h2:after{
    content: "□";
    font-size: 200%;
    position: absolute;
    color: #B92A2C;
    top: -0.5em;
    left: 0;
    height: 12px;
    width: 12px;
}

input.example1 { width: 27%; }
input.example2 { width: 8%; }

#sample {  text-align: center; }
.button_wrapper{
   text-align:center;
}
button{
  display:block;
  margin: 0 auto;
}
.square_btn{
    display: inline-block;
    padding: 0.5em 1em;
    color: brack;
    border-radius: 25px;
    font-weight: bold;
    color: #FFF;
    background-image: -webkit-linear-gradient(50deg, #e4007f 0%, #ffe0ff 100%);
    background-image: linear-gradient(50deg, #e4007f 0%, #ffe0ff 100%);
    transition: .4s;
     text-align:center;
}

.square_btn:hover{
    background-image: -webkit-linear-gradient(50deg, #e4007f 50%, #ffe0ff 100%);
    background-image: linear-gradient(50deg, #e4007f 50%, #ffe0ff 100%);
}
