HTML  CSS  Result
EDIT ON
 body { background-color:#0000ff; }
#snow{
    background: none;
    font-family: Androgyne;
    background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index:1;
    -webkit-animation: snow 15s linear infinite;
    -moz-animation: snow 10s linear infinite;
    -ms-animation: snow 12s linear infinite;
    animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 700px 300px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

h3{

text-align: center;
background-color: #8d1e47;
border: 2px dashed #fff;
border-radius: 2px;
box-shadow: 0 0 0 2px #8d1e47;
color: #fff;
margin: 1em 0;
padding: 1em;

}
tbl_05 {
	margin: 5px 8px 5px 30px;
	border: 2px solid #e3e3e3;
	border-collapse: collapse;
	-ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;

}

.tbl_05 th {
	text-align: center;
	padding: 8px 5px 5px 2px;
	border: 1px solid #e3e3e3;
	font-weight: normal;
	vertical-align: middle;
	background-color: #ffefff;
    border-collapse: collapse;

}

.tbl_05 td{
	text-align: center;
	padding: 8px 5px 5px 2px;
	border: 1px solid #e3e3e3;
	font-weight: normal;
	vertical-align: middle;
    border-collapse: collapse;
}

table.tbl_05 tr:hover {
	background: #ffebf5;
	/*font-weight: bold;
	  border-collapse: collapse;*/
}

#date {
    width: 8%;
}

#no {
    width: 3%;
}

#name {
    width: 11%;
}
#sex {
    width: 4%;
}
#zip {
    width: 6%;
}
#add {
    width: 16%;
}

#tel{
    width: 9%;
}
#mail {
    width: 14%;
}
#why {
    width: 6%;
}
#cate {
    width: 7%;
}
#qa {
    width: ;
}
.links1 {
	text-align: center;
	background-color: #fdeff2;
    border: 1px solid #fef4f4;
    list-style: none;
    position: relative;
    margin-top: 1em;
    padding: 2em 1em 1em;
}
.links1:before {
    content: "";
    background-color: rgba(255, 228, 181, .6);
    position: absolute;
    top: 1.5em;
    left: 40%;
    width: 50px;
    height: 40px;
    transform: rotate( -10deg );
}

/* 07.リボン型の見出し（切りっぱなし） */
.links2 {
	position:relative;
	padding:10px;
	background:#88ccef;
	box-shadow:
		10px 0 0 0 #88ccef,
		-10px 0 0 0 #88ccef,
		0 3px 3px 0 rgba(0,0,0,0.1);
}
.links2:before{
	content:" ";
	position:absolute;
	top:100%;
	left:-10px;
	width:0;
	height:0;
	border-width:0 10px 10px 0;
	border-style:solid;
	border-color:transparent;
	border-right-color:#7bb8d8;
}
.links:after{
	content:" ";
	position:absolute;
	top:0px;
	left:100%;
	width:0;
	height:0;
	border-width:20px 10px;
	border-style:solid;
	border-color:#88ccef;
	border-right-color:transparent;
}

a{
		text-decoration: none;
}
.text{

  position: relative;
  display: inline-block;
  font-size: 2em;
}

.text:before,
.text:after{

  position: absolute;
  top: 1.3em;
  content: "";
  display: inline-block;
  width: 0;
  height: 2px;
  background:
      linear-gradient(to right,dodgerblue, crimson, yellowgreen, orange, purple, red);
  transition: 2s;
}

.text:before{
  left: 50%;
}

.text:after{
  right: 50%;
}

.text:hover:before,
.text:hover:after{
  width: 50%;
}

@import "compass/css3";

body {
  background:#ffdbed;
  font-size:120%;
}

/*
.rabbit {
  width:5em;
  height:3em;
  background:#ffffff;
  border-radius:70% 90% 60% 50%;
  position:relative;
  box-shadow: -0.2em 1em 0 -0.75em #b78e81;
  @include transform(rotate(0deg) translate(-2em,0));
  animation: hop 1s infinite linear;
  z-index:1;
  .no-flexbox & {margin:10em auto 0;}
  //tail, eye, feet
  &:before {
    content:"";
    position:absolute;
    width:1em;
    height:1em;
    background:white; // tail
    border-radius:100%;
    top:0.5em;
    left:-0.3em;
    box-shadow:
      4em 0.4em 0 -0.35em #3f3334, // eye
      0.5em 1em 0 white, // back foot
      4em 1em 0 -0.3em white, // front foot
      4em 1em 0 -0.3em white,
      4em 1em 0 -0.4em white;;
    animation: kick 1s infinite linear;
  }
  // ears
  &:after {
    content:"";
    position:absolute;
    width:.75em;
    height:2em;
    background:white;
    border-radius:50% 100% 0 0;
    @include transform(rotate(-30deg));
    right:1em;
    top:-1em;
    border-top:1px solid #f7f5f4;
    border-left: 1px solid #f7f5f4;
    box-shadow:-0.5em 0em 0 -0.1em white;
  }
}

.clouds {
  background:white;
  width:2em;
  height:2em;
  border-radius:100% 100% 0 0;
  position:relative;
  top:-5em;
  @include opacity(0);
  @include transform(translate(0,0));
  animation: cloudy 1s infinite linear forwards;
  box-shadow:5em 2em 0 -0.3em white, -2em 2em 0 0 white;
  &:before,&:after {
    content:'';
    position:absolute;
    box-shadow:5em 2em 0 -0.3em white, -2em 2em 0 white;
  }
  &:before {
    width:1.25em;
    height:1.25em;
    border-radius:100% 100% 0 100%;
    background:white;
    left:-30%;
    bottom:0;
  }
  &:after {
    width:1.5em;
    height:1.5em;
    border-radius:100% 100% 100% 0;
    background:white;
    right:-30%;
    bottom:0;
  }
}

/*
@keyframes hop {
  20% {
    @include transform(rotate(-10deg) translate(1em,-2em));
    box-shadow: -0.2em 3em 0 -1em #b78e81;
  }
  40% {
    @include transform(rotate(10deg) translate(3em,-4em));
    box-shadow: -0.2em 3.25em 0 -1.1em #b78e81;
  }
  60%,75% {
    @include transform(rotate(0) translate(4em,0));
    box-shadow: -0.2em 1em 0 -0.75em #b78e81;
  }
}



@keyframes kick {
  20%,50% {
    box-shadow:
      4em 0.4em 0 -0.35em #3f3334,
      0.5em 1.5em 0 white,
      4em 1.75em 0 -0.3em white,
      4em 1.75em 0 -0.3em white,
      4em 1.9em 0 -0.4em white;
  }
  40% {
    box-shadow:
      4em 0.4em 0 -0.35em #3f3334,
      0.5em 2em 0 white,
      4em 1.75em 0 -0.3em white,
      4.2em 1.75em 0 -0.2em white,
      4.4em 1.9em 0 -0.2em white;
  }
}

@keyframes cloudy {
 40% {
    @include opacity(0.75);
    @include transform(translate(-3em,0));
  }
  55% {
    @include opacity(0);
    @include transform(translate(-4em,0));
  }
  90% {
    @include transform(translate(0,0));
  }
}
